.body-main
{
    min-height:1200px;
    background-color:#EFEFEF;
    position:relative;
}
.Booking-Main-Body {
    width: 100%;
}
.custom-container {
    min-height: 800px;
    background-color: #F5F7F9;
}
.slide {
    height: 500px;
    width: 1500px;
}